a.btn,
button.btn,
input[type='button'].btn {
    display: inline-block;
    padding: 8px 25px;
    margin: 0 5px;
    font-size: 14px;
    color: #333333;
    background: #FFFFFF;
    border: 1px darken(#FFFFFF, 8%) solid;
    border-radius: 3px;
    vertical-align: middle;

    &.large {
        font-size: 20px;
        padding: 8px 40px;
    }

    &.small {
        font-size: 12px;
        padding: 5px 20px;
    }

    &:hover {
        background: darken(#FFFFFF, 5%);
    }

    @each $class, $background, $font_color in $buttons {
        &.#{$class} {
            background: $background;
            color: $font_color;
            border-color: darken($background, 8%);

            &:hover {
                background: darken($background, 5%);
            }
        }
    }
}
