
.fileinput {
	label {
		font-family: 'FuturaStd-Book';
		font-size: 16px;
		color: #565656;
		display: block;
		margin-bottom: 3px;
	}
	label.error {
		font-size: 14px;
		font-style: italic;
		color: red;
		display: none !important;
	}
	.browse {
		position: relative;
		padding-right: 87px;
		.filename {
			display: block;
			width: 100%;
		}
		.fileinput-button {
			font-family: 'FuturaStd-Book';
			font-size: 16px;
			color: #FFF;
			position: absolute;
			top: 0;right:0;
			background: #40b29d;
		}
	}

	.file-row {
		p.name {
			font-family: 'FuturaStd-Medium';
			font-size: 14px;
			color: #959595;
		}
		.progress {
			height: 5px;
			margin-top: 7px;

			.progress-bar-success {
				background-color: #40b29d;
			}

		}
		button {
			font-family: sans-serif;
			font-size: 14px;
			color: #717171;
			padding: 0;
			border: 0;
			background: none;
			outline: none;

		}
	}
}