 @@include('../Shared/header.html', { "style": [ "assets/css/style.min.css" ] })
<!-- @@include('../Shared/header.html') -->


<div class="homepage container">

    <h1>Hello, world!</h1>

    <a href="#" class="btn btn-green small">asdadasdas</a>
    <input type="button" class="btn btn-blue" value="gogogogo" />
    <button class="btn large">boooo..</button>

    <p class="parWidth">Lorem Ipsum Dolorrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
    <br /><br />

    <div class="row">
        <div class="col-sm-6 col-md-4">

            <!-- Upload File -->
            <div class="actions">
                <div id="upload-1" data-type="zip" class="fileinput">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <label>Upload file</label>
                    <div class="browse">
                        <input type="hidden" id="upload-Id-1" name="upload-Id-1" />
                        <input type="text" id="upload-1" name="upload-1" class="form-control filename" readonly value="" />
                        <span class="btn fileinput-button dz-clickable">
    		                <span>Browse</span>
                        </span>
                    </div>

                    <select class="select-v1" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                    </select>

                    <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
                    <div class="table table-striped files previews"></div>

                </div>
            </div>
            <!-- Upload File -->

        </div>
    </div>

</div>


<!-- @@include('../Shared/footer.html')  -->
@@include('../Shared/footer.html', { "script": [ "assets/js/app.min.js" ] })