* {
    word-break: break-all;
    &:active,
    &:focus,
    &:hover {
        outline: none;
    }
}

body, html {
    height: 100%;
}

#site-container {
    width: 100%;
    min-height: 100%;
    background: darkgrey;
}